{% extends "template.html" %}
{% block main %}
<article>
    <header>
        <h1>Sign In</h1>
    </header>

    <form method="post" action="{{ url_for('auth.signin') }}">
        <fieldset>
            <label>
            Student Number
            <input
                name="StudentNumber"
                placeholder="Student Number"
            />
            </label>
            <label>
            Password
            <input
                type="password"
                name="Password"
                placeholder="Password"
                autocomplete="password"
            />
            </label>
        </fieldset>

        <input
            type="submit"
            value="Submit"
        />
    </form>
<footer>
    Forgot your password? Email us: support@bloxademy.com
</footer>
</article>
{% endblock %}